blockquote
	font-size: em-calc(20)
	padding-left: em-calc(65, 20)
	font-style: italic
	border: none
	&::before
		font-family: "Times New Roman"
		content: '\201C'
		font-size: em-calc(120)
		color: $lightblue
	&::after
		content: '\201D'
		font-size: em-calc(120)
		color: $lightblue


